@charset "utf-8";

// On peut définir ici les couleurs qu'on veut
$dark-michele: #1d3249;

// Ou mettre à jour les couleurs existantes de bulma. Ca permet d'utiliser directement les classes 'is-primary', etc avec les couleurs qu'on veut


$primary: $dark-michele;
//$link: $medium-red;
$success: rgba(227, 237, 211, 0.9);

@import "bulma";